*{
  padding: 0;
  margin:0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F4F5F5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}
